# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarised.

### Objectives:
- List Popular Data Science Languages
- List commonly used libraries
- List data science tools
- Evaluate arithmetic expressions

## Author
Thomas Strike

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scaborn

|Data Science Tools:|
|------------------|
|Apache Hadoop|
|Apache Spark|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
#This a simple arithmetic expression to mutiply then add integers:
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60:
220/60

3.6666666666666665